:root{
    --black: #1c1d21;
    --bg: #242529;
    --text: #e6e6e6;
    --muted: #6d6d6d;
    --success: #1aa76d;
    --warning: #de9f03;
    --danger: #d3185e;
    --accent: #35226c;
}
* {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}
a{
    color: inherit;
    text-decoration: none;
}
h3{
    margin-top: 1rem;
}
body{
    background-color: var(--bg);
    color: var(--text);
}
.muted{
    color: var(--muted) !important;
}
nav{
    width: 100%;
    height: fit-content;
    background-color: var(--black);
    display: flex;
    padding: 1rem;
}
nav .logo{
    max-width: 50px;
    height: auto;
}
nav h1{
    align-self: end;
}
.button {
    padding-top: .4rem;
    padding-bottom: .4rem;
    width: 100%;
    text-decoration: none;
    color: inherit;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}
a.button.info{
    background-color: var(--accent);
    border-radius: 25%;
}
.button.danger{
    background-color: var(--danger);
}
.button.warning{
    background-color: var(--warning);
}
.button.success{
    background-color: var(--success);
}
.columns{
 display: flex;
 width: 100%;
 
}
.button.small{
    width: fit-content;
}
.separator{
    width: 100%;
    border-bottom: 2px solid var(--muted);
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.column{
    width: auto;
    padding: 1rem;
}
.column.aside {
    background-color: var(--black);
    width: inherit;
    min-width: 15%;
    max-width: 15%;
}
input {
    background: none;
    border: 1px solid var(--accent);
    color: var(--text);
    width: 100%;
}
form *{
    margin-top: 10px;
}
form.horizontal {
    display: flex;
}
form.horizontal *{
    margin-top: none;
}
form.horizontal button{
    margin-left: 1rem;
}
  
table{
    text-align: left;
    border-collapse: collapse;
    
}
.table-head{
    border-top: solid var(--muted) 1px;
    border-bottom: solid var(--muted) 1px;
    text-transform: uppercase;
}
.table-head th{
    padding-bottom: .3rem;
    padding-top: .3rem;
}
.table-row th{
    border-top: solid var(--muted) 1px;
    border-bottom: solid var(--muted) 1px;
    border-right: solid var(--muted) 1px;
    padding: .5rem;
    
}
.table-row th:last-child{
    border-right: none;
}
.table-head *{
    font-size: medium;
    text-align: center;
}
.table-row *{
    font-size: small;
}
table a{
    background-color: var(--accent);
    padding-top: 4px;
    padding-right: 6px;
    padding-bottom: 4px;
    padding-left: 6px;
    border-radius: 10%;
}
.float-right{
    float: right;
}

.pager {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}

.pager li{
    list-style-image: none;
    list-style: none;
}
.pager li a{
    min-width: 2.5em;
    font-size: 1em;
    justify-content: center;
    margin: .25rem;
    padding-left: .5em;
    padding-right: .5em;
    text-align: center;
    align-items: center;
	border: 1px solid var(--accent);
	border-radius: .375em;
	display: inline-flex;
	height: 2.5em;
	line-height: 1.5;
	padding-bottom: calc(.5em - 1px);
	padding-top: calc(.5em - 1px);
	position: relative;
	vertical-align: top;
}

.pager li a.is-active{
    background-color: var(--accent);
    border-color: var(--accent);
}