ul(class="pager")
    each pager in pagination
        li(class="page")
            if(typeof pager.num == 'string')
                p= '...'
            else
                if(pager.current)
                    a(href=pager.location class="is-active")= pager.num+1
                else
                    a(href=pager.location)= pager.num+1