doctype html
head
  title Blue Prism
  link(rel="icon" type="image/x-icon" href="/blue_prism_logo.png")
  link(rel="stylesheet" type="text/css" href="/app.css")
body
      nav
        img(class="logo" src='/blue_prism_logo.png')
        h1 Blue Prism
      div(class="columns")
        div(class="column aside")
          a(class="button" href="/") Home
          span(class="separator")
          a(class="button" href="/control-panel") Control panel
          span(class="separator")
          a(class="button" href="/crawler") Crawler
          span(class="separator")
          form(class='horizontal' action='/search' method='get')
            input(type='text' name='question')
            button(class="button" type="submit") search
        div(class="column")
          if code == 1
              p= msg 
          block main